* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.3s;
  background-image: url('https://images.pond5.com/simple-elegant-white-background-particle-footage-089150941_prevstill.jpeg');
  background: no-repeat;
  -o-transition: 0.3s;
  transition: 0.3s;
}

body {
  background-color: #fff;
  font-family: Montserrat;
  overflow-x: hidden;
}

.roundBorder {
  border-radius: 1rem !important;
}

.container-login {
  margin: auto !important;
  margin-top: 2rem !important;
  padding: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}

.grid-item {
  background-color: #f2f2f2;
  padding: 20px;
  border: 2px solid #ccc; /* Added border */
}

.login {
  max-height: 100vh;
  overflow-y: auto;
  float: left;
  margin: 0 auto;
  width: calc(100% - 1194px);
}

.login .container {
  width: 505px;
  margin: 0 auto;
  position: relative;
}

.login .container h1 {
  margin-top: 50px; /* Adjusted margin */
  font-size: 28px; /* Adjusted font size */
}

.login .container .login-form {
  margin-top: 80px; /* Adjusted margin */
}

.login .container .login-form form input {
  font-size: 16px;
  font-weight: normal;
  background: rgba(57, 57, 57, 0.07);
  margin: 12.5px 0;
  height: 50px; /* Adjusted height */
  border: none;
  padding: 0 30px;
  border-radius: 10px;
}

.login .container .login-form form button[type=submit] {
  background: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
  border: none;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 100%; /* Full width button */
  height: 50px; /* Adjusted height */
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-size: 18px; /* Adjusted font size */
}

.login .container .login-form form button[type=submit]:hover::after {
  opacity: 1;
}

.login .container .login-form form button[type=submit]::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 10px;
  opacity: 0;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
}

@media only screen and (max-width: 1024px) {
  .login .container {
      width: 85%;
  }

  .login .container h1 {
      font-size: 24px;
      margin-top: 40px;
  }

  .login .container .login-form {
      margin-top: 70px;
  }

  .login .container .login-form form input {
      height: 45px;
  }

  .login .container .login-form form button[type=submit] {
      height: 45px;
      margin-top: 80px;
  }
}
